.git
.github
.cursor
.manual
.project
.workspaces
.idea
node_modules
vendor
dist
coverage
cache
templates/cache
.phpcs
.phpstan
.phpunit
.env
.env.local
.env.*.local
docs
package-lock.json
bun.lock
bun.lockb
Thumbs.db
.DS_Store
*.log
*.tmp
*.temp
